<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> Hi 👋 <%= @user.f_name %> !</h1>
    
    <h3>Thank you for signing up with Culture App.</h3>

    <p>Every morning at <%= @schedule_info[:time] %>am  for <%= @schedule_info[:numDays] %> days you'll receive an email with an inspiring piece of art.</p>
        
    <p>And here's your first work -</p>
    <hr />

    <h3><%= @artwork.title %></h3>
    
    <% if @artwork.artist %>
      <p><%= @artwork.artist %></p>
    <% else %>
      <p><%= @artwork.culture %></p>
    <% end %>
    
    <p><%= @artwork.date %></p>
    
    <img src=<%= @artwork.img_url %> width="300">
  
    <% @artwork.description.split(".,").each do |el| %>
      <p><%= el %></p>
    <% end %>

  
    <p>Have a killer day ✌️!</p>
    <h4>Nick @ Culture App</h4>

    <hr />
    <h3>Search Details -</h3>
    <ul>
      <li>Department -</li>
        <ul>
          <% if @search_info[:department] %>
            <li><p><%= @search_info[:department] %></p></li>
          <% else %>
            <li><p>No Department Selected</p></li>
          <% end %>
        </ul>
      <li>Dates -</li>
        <ul>
          <% if @search_info[:dates] %>
            <li><p><%= @search_info[:dates] %></p></li>
          <% else %>
            <li><p>No Dates Selected</p></li>
          <% end %>
        </ul>
      <li>Collection Highlight? -</li>
        <ul>
          <% if @search_info[:highlight] %>
              <li><p>Yes</p></li>
            <% else %>
              <li><p>No</p></li>
            <% end %>
        </ul>
    </ul>
    
  </body>
</html>
